# config
koa-node/public/javascripts/config.js
pythonScript/privateConfig.json
sign-in-web/src/components/httpUrl.js
chromedriver
privateConfig.json

# file
pythonScript/chrome-proxy-extensions
dist
build
*.spec
printScreen.png
save.png
node_modules
packages
logs
__pycache__
chrome-linux
profile

# IDEA VSCode config
.vscode
.idea