# config
koa-node/public/javascripts/config.js
pythonScript/privateConfig.json
sign-in-web/src/components/httpUrl.js
chromedriver

# file
chrome-proxy-extensions
dist
build
*.spec
printScreen.png
save.png
node_modules
packages
logs
__pycache__
chrome
profile

# IDEA VSCode config
.vscode
.idea