#textEdit {
    background-color: transparent;
    font: 14px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: black;
    border: none;
}

#scrollArea {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
